.footer {
  width: 100%;
  align-self: flex-end;
  padding: 15px 0;
}

.copyright {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -15px;
    left: 0;
    width: 100%;
    max-width: 400px;
    height: 1px;
    background-color: #CCCCCC;
  }
}