.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  background-color: rgb(253,130,120);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 110px;
}

.entry-btn {
  align-self: center;
  height: 30px;
  padding: 0 15px;
  text-transform: uppercase;
  border-radius: 4px;
  border: 2px solid black;
  font-weight: 600;
  
  &:hover {
    background-color: #000000;
    color: #FFFFFF;
    transition: all .7s ease;
  }
}